<!-- evolution_master.htm -->
<html>
<body>
<center>
<img src="L2UI.SquareWhite" width=300 height=1>
<table width=300 bgcolor=000000>
<tr><td align=center><font color="LEVEL">Maestro de Evolución</font></td></tr>
</table>
<img src="L2UI.SquareWhite" width=300 height=1>
<br>
<% if (evolutionManager.canEvolve(player)) { %>
<a action="bypass -h npc_%objectId%_Evolution">Quiero Evolucionar</a>
<% } else { %>
No cumples los requisitos para evolucionar.<br>
Requisitos:<br>
- Nivel %requiredLevel%<br>
- Menos de %maxEvolutions% evoluciones<br>
<% } %>
</center>
</body>
</html>